﻿mark#zer, #Mark1 {
	background-color: #009900;
	color: #FFFFFF;
}

mark#fiv, #Mark2 {
	background-color: #0099FF;
	color: #FFFFFF;
}
mark#ten, #Mark3 {
	background-color: #0066FF;
	color: #FFFFFF;
}
mark#ftn, #Mark4 {
	background-color: #6633CC;
	color: #FFFFFF;
}
mark#twe, #Mark5 {
	background-color: #9900CC;
	color: #FFFFFF;
}
mark#fty, #Mark6 {
	background-color: #FF00FF;
	color: #FFFFFF;
}
mark#hun, #Mark7 {
	background-color: #FF0000;
	color: #FFFFFF;
}
mark#hun, #Mark8 {
	background-color: #9933FF;
	color: #FFFFFF;
}



